# Database
local_db

# Local server configuration
local

# Eliom
.depend
_client
_deps
_server

# Mobile application
cordova

# Style
.sass-cache

static/css/pdldemo.css.map
static/css/pdldemo.css

node_modules
